# Ignore 3rd party tools
/composer.lock
/composer.phar
/vendor/*

# Ignore temporarily files
/.php_cs.cache
/.phpunit.cache/
/.phpunit.result.cache
/examples/35-debug-with-yasd/rootfilesystem/var/www/debug.log
