# Ignore Eclipse/Zend Studio project files
/.buildpath
/.project
/.settings

# Ignore PhpStorm files
/.idea/

# Ignore NetBeans files
/nbproject/

# Ignore files under Mac
.DS_Store

# Ignore 3rd party tools
/composer.lock
/composer.phar
/vendor/*

# Ignore PHPUnit files
/.phpunit.result.cache

# Ignore temporary files
/temp/

# Ignore Docker files
qemu-*+resin-*
qemu-*-static
