name: Build Nightly Alpine Images Manually

on:
  workflow_dispatch:

jobs:
  build_nightly_images:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        php: ["8.1", "8.2", "8.3", "8.4"]
        platform: ["linux/386", "linux/amd64", "linux/arm/v5", "linux/arm/v7", "linux/arm64/v8", "linux/mips64le", "linux/ppc64le", "linux/s390x"]

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Build and push Docker image phpswoole/swoole:php${{ matrix.php }}-alpine on ${{ matrix.platform }}
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: dockerfiles/nightly/php${{ matrix.php }}/alpine/Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          tags: phpswoole/swoole:php${{ matrix.php }}-alpine
